<main>
  <% if flash[:notice] %>
    <p class="notice text-success">
      <%= flash[:notice] %>
    </p>
  <% end %>
  <%= render 'books/userinfo', books: @new_book, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @book.each do |book| %>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
        <td>
        <%= link_to(book_path(@user)) do %>
        <%= book.book_title %>
        <% end %>
        </td>
        <td><%= book.opinion %></td>
        <td></td>
      </tr>
      <% end %>
      </tbody>

      </table>
    </div>
  </div>
</div>
</main>

