<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 pz-sm-0 mx-auto">
      <h1>Editing Book</h1>
  <% if @book.errors.any? %>
   <h3 class="text-danger"><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
   <% @book.errors.full_messages.each do |message| %>
    <ul>
    <li class="text-danger"><%= message %></li>
    </ul>
  <% end %>
<% end %>
      <%= form_with model:@book, local:true do |f| %>
        <label for="inputTitle">Title</label>
        <%= f.text_field :book_title, autofocus: true, id:"inputTitle", palaceholder:"タイトル", class:'form-control book_title' %>
        <label for="inputOpinion">Opinion</label>
        <%= f.text_area :opinion, autofocus: true, id:"inputOpinion", palaceholder:"説明", class:'form-control opinion mb-3' %>

        <%= f.submit "Update Book", class:'btn btn-success mb-3' %>
        <p><%= link_to "Show", book_path(@book) %>
        |
        <%= link_to "Back", books_path %></p>
        <% end %>


    </div>
  </div>
</div>